html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-button {
  background: #319795;
}

::-webkit-scrollbar-thumb {
  background: currentColor;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: #319795;
}

a {
  margin: 0 !important;
}
